<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier un élève</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-warning text-dark">
            <h3>Modifier un élève</h3>
        </div>

        <div class="card-body">

            {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <div class="alert alert-{{ categorie }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

            <form method="POST">

                <div class="mb-3">
                    <label>Matricule</label>
                    <input type="text" name="matricule" class="form-control"
                           value="{{ eleve.matricule }}" required>
                </div>

                <div class="mb-3">
                    <label>Nom</label>
                    <input type="text" name="nom" class="form-control"
                           value="{{ eleve.nom }}" required>
                </div>

                <div class="mb-3">
                    <label>Postnom</label>
                    <input type="text" name="postnom" class="form-control"
                           value="{{ eleve.postnom }}" required>
                </div>

                <div class="mb-3">
                    <label>Prénom</label>
                    <input type="text" name="prenom" class="form-control"
                           value="{{ eleve.prenom }}" required>
                </div>

                <div class="mb-3">
                    <label>Sexe</label>

                    <select name="sexe" class="form-select">

                        <option value="M"
                        {% if eleve.sexe=="M" %}selected{% endif %}>
                            Masculin
                        </option>

                        <option value="F"
                        {% if eleve.sexe=="F" %}selected{% endif %}>
                            Féminin
                        </option>

                    </select>

                </div>

                <button class="btn btn-success">
                    Enregistrer les modifications
                </button>

                <a href="{{ url_for('eleves') }}" class="btn btn-secondary">
                    Annuler
                </a>

            </form>

        </div>

    </div>

</div>

<div class="mb-3">
    <label>Classe</label>

    <select name="classe_id" class="form-control" required>

        <option value="">Sélectionner une classe</option>

        {% for c in classes %}
            <option value="{{ c.id }}">
                {{ c.nom }}
            </option>
        {% endfor %}

    </select>
</div>

</body>
</html>